.button {
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border: 0;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
}

.button:focus {
    border: 0.35px solid #c1eee0;
    box-shadow: 0 1px 5px #c1eee0;
}

.button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.main__button {
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 12px 50%;
    background-size: 15px;
    background-image: url(images/done_task_gray@2x.png);
}

.main__button:focus {
    background-image: url(images/done_edit@2x.png);
}

.main__button:last-child {
    margin-bottom: 0;
}

.article__description {

    margin: 0;
    padding-left: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}
