.button {
    cursor: pointer;
    padding: 0;
    border: none;
}

.form__button {
    width: 130px;
    height: 30px;
    border-radius: 15px;
    background-color: #50d5ad;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;

    background-image: url("images/Shape.png");
    background-repeat: no-repeat;
    background-position: 13% 90%;
    background-size: 23px;
}

.form__button:disabled {
    background-color: #bdbdbd;
}

.main__button_task {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    visibility: hidden;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.main__task_done {
    background-repeat: no-repeat;
    background-position: 2.5% 50%;
    background-size: 15px;
    background-image: url(images/done_task_gray@2x.png);
}

.main__task_done:active,
.main__task_done:hover {
    border: 0.35px solid #c1eee0;
    box-shadow: 0 1px 5px #c1eee0;
    background-image: url(images/done_edit@2x.png);
}

.button__b-delete {
    background-image: url(images/delete@2x.png);
    right: 4%;
}

.button__b-delete:focus,
.button__b-delete:hover {
    background-image: url(images/delete_red@2x.png);
}

.button__b-done {
    background-image: url(images/O@2x.png);
    left: 2.5%;
}

.button__b-done:focus,
.button__b-done:hover {
    background-image: url(images/O_hover@2x.png);
}

.button__b-pen {
    background-image: url(images/pencil@2x.png);
    right: 12%;
}

.button__b-pen:focus,
.button__b-pen:hover {
    background-image: url(images/pencil_blue@2x.png);
}

.main__task:active,
.main__task:hover {
    border: 0.35px solid #c1eee0;
    box-shadow: 0 1px 5px #c1eee0;
}

.main__task:active,
.main__task:hover .button__b-delete{
    visibility: visible;
}

.main__task_todo:active,
.main__task_todo:hover .button__b-pen {
    visibility: visible;
}

.main__task_todo:active,
.main__task_todo:hover .button__b-done {
    visibility: visible;
}