.side-bar {
    width: 100%;
}

.side-bar__element {
    margin: 0 0 25px;
    font-size: 18px;
    font-family: "Roboto", serif;
    font-weight: 400;
    color: #979797;

    display: block;
    text-decoration: none;
}
