.side-bar {
    width: 100%;
}

.nav-menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu__todo {
    background: url(images/todo_gray@2x.png) no-repeat;
}

.nav-menu__done {
    background: url(images/done_gray@2x.png) no-repeat;
}

.nav-menu__todo_active {
    background: url(images/todo_blue@2x.png) no-repeat;
}

.nav-menu__done_active {
    background: url(images/done_blue@2x.png) no-repeat;
}

.nav-menu__link {
    padding-left: 30px;
    background-size: 20px;
}

.nav-menu__link {
    margin: 0 0 25px;
    font-size: 18px;
    font-family: "Roboto", serif;
    font-weight: 400;
    color: #979797;

    display: block;
    text-decoration: none;
}

.nav-menu__link_active {
    color: #78c2f5;
}


