.side-bar {
    width: 100%;
}

.nav-menu__list {
    margin: 0;
}

.side-bar__element {
    margin: 0 25% 25px 0;
    font-size: 18px;
    font-family: "Roboto", serif;
    font-weight: 400;
    color: #979797;

    display: block;
    text-decoration: none;
}
